/*custom style*/

/***typographic***/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

.title-home{
    color: black!important;
    font-size: 150%!important;
    font-weight: bold;
    font-family: 'EB Garamond', serif!important;
}

/**utilitys***/
.mouse-clicked{
    cursor: pointer;
}
.box-title{
    padding: 5px;
    border-style: solid 1px;
}

.layer-center{
	margin: auto;
	display: block;
}

.box-container{
  padding: 10px;
}

/*colors*/
.color-black{
    color: black;
}
.color-white{
    color: white!important;
}

.color-yellow{
    color:#fdd835;
    border-color: black;
}

.primary{
    color: #6D71EF!important;
    border-color: #6D71EF!important;
}

/*background-color*/
.color-back-grey-low{
    background-color: #eeeeee;
}

.color-back-white{
    background-color: white;
}

.color-back-blue{
    background-color: #6D71EF!important;
}



/*animations*/
.itemBell {
    display: inline-block;
    font-size: 50vmin;
    animation: 1s bell-vibrate ease-in-out infinite;
}

@keyframes bell-vibrate {
    0% {
        transform: rotate(0);
    }

    4% {
        transform: rotate(8deg);
    }

    8% {
        transform: rotate(-8deg);
    }

    12% {
        transform: rotate(8deg);
    }

    16% {
        transform: rotate(-8deg);
    }

    20% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

